<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
  <style>
        body {
            background-color: rgb(14, 14, 1);
            color: white;
            font-size: 20px;
            line-height: 1.5rem;
        }
        .head {
            
            width: 100%;
            flex-direction: column;
            color: white;
            padding-top: 20px;
        }
        a {
          text-decoration: none;
          color: black;
        }
        .center {
           height: 100px;
           width: 400px;
        }
        .verify-button {
          height: 50px;
          background-color: rgb(214, 191, 124);
          color: black;
          text-align: center;
          border-radius: 5px;
          border: 1px solid white;
          font-size: 2rem;
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .line  {
          color: white;
          width: 100%;
          font-weight: bold;
        }
        .intro {
          padding: 10px;
          box-shadow: 2;
          min-height: 70vh;
        }
        footer {
          min-height: 10vh;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
  </style>
</head>
<body>
    <div class="head">
        <img class="center" src="https://drive.google.com/thumbnail?id=1HUuvhGdK9EwCV7U09NYxqvTsNtt8JCa9&sz=w1000" alt="Auto Code Grader Logo" />
    </div>
    <h1 class="center">Cant find student reusult file for {title} question {questionNumber}</h1>
    <hr />

    <div class="intro">
      <br>

          The result student result file after execution test script cant be found <br />
          ensure the execution of test script gives a result file. The assignment is now close
          
          <h4>Tips for solving issues</h4>
          <hr />
          <ul>
            <li>Ensure that result.txt file is generated after each instance of the test scrip</li>
            <li>The filename of the result file should be test.txt</li>
            <li>The filename should of type txt</li>
            <li>The last two lines of the file should be mark and completion</li>
            <li>Click to learn more on how to generate such file using the programing language the system support</li>

          </ul>
        
          
    </div>
    <footer class="">
        <h1>@2024 Auto Code Grader</h1>
    </footer> 
</body>
</html> 